<%- include("partials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="heading">Title</label>
        <input type="text" class="form-control" id="heading" name="postTitle">
        <label for="blogs">Post</label>
        <textarea class="form-control" id="blogs" rows="5" cols="30" name="postBody"></textarea>
    </div>
    <button type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>